@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  overscroll-behavior: none;
}

body {
  overscroll-behavior: none;
  
  background: #111;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell,
    "Helvetica Neue", sans-serif;
  font-weight: 200;
  letter-spacing: 1.5px;
}
